// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b921ff80;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0078a3a2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00bbffa2;
  border-radius: 20px;
}
